<div>
    <h2>מסך שינוי סיסמא</h2>
    <label for=crntpwd>סיסמא נוכחית: </label>
    <input required type="password" id=crntpwd [(ngModel)]="crntPwd">
    <br>
    <label for=nwpwd>סיסמא חדשה: </label>
    <input required minlength="4" maxlength="10" type="password" id=nwpwd [(ngModel)]="nwPwd">
    <br>
    <label for=nw2pwd>וידוא סיסמא: </label>
    <input required minlength="4" maxlength="10" type="password" id=nw2pwd [(ngModel)]="nw2Pwd">
    <br>
    <br>
    <div class="button">
        <button type=button (click)="updIt()">שמור שינויים</button>
    </div>
    <br>
    <a *ngIf="jobDone" routerLink="/AccountLogin">שינוי הסיסמא הצליח הקש כאן לכניסה מחדש למערכת</a>
</div>